body {
    font-family: 'Exo', sans-serif;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Share Tech', sans-serif;
    color: white;
}

.character-info {
    font-family: 'Share Tech', sans-serif;
    color: white;
}



p {
    font-family: 'Share Tech', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 20px;
}
